In [3]:

import pandas as pd

from pandas import Series, DataFrame

In [4]:
s = {'Skills':list((input('Enter skills: \n')).split(','))}

Enter skills:
Python, Graphics Design, video animation, video editor

In [5]:
Data = DataFrame(s)

In [6]:
Data.to_csv('Abdul-baqqi_skills.csv', encoding='utf-8')
pd.read_csv('Abdul-baqqi_skills.csv')

   Unnamed: 0            Skills
0           0            Python
1           1   Graphics Design
2           2   video animation
3           3      video editor