In [15]:
import pandas as pd
from pandas import Series, DataFrame

In [50]:
s = {'skills':list((input('Enter skills: \n')).split(','))}
DataFrame(s)

Enter skills:
Playing,Reading,Coding,Sleeping,Drinking,Smoking,Partying

     skills
0   Playing
1   Reading
2    Coding
3  Sleeping
4  Drinking
5   Smoking
6  Partying

In [52]:
DataFrame(s).to_csv('Bisola_skills.csv', encoding='utf-8')
pd.read_csv('Bisola_skills.csv')

   Unnamed: 0    skills
0           0   Playing
1           1   Reading
2           2    Coding
3           3  Sleeping
4           4  Drinking
5           5   Smoking
6           6  Partying