In [1]:

import pandas as pd

from pandas import Series, DataFrame

In [ ]:
s = {'Skills':list((input('Enter skills: \n')).split(','))}

In [6]:
Data = DataFrame(s)

In [7]:
Data.to_csv('Bisola_skills.csv', encoding='utf-8')
pd.read_csv('Bisola_skills.csv')

   Unnamed: 0            Skills
0           0           AutoCAD
1           1            Python
2           2         Tailoring
3           3     Data Analysis
4           4           Writing
5           5       Power point
6           6    Microsoft Word
7           7   Microsoft Excel