In [ ]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
personal_info = {'Last Name': [input('Last Name:')], 'First Name': [input('First Name:')], 'Phone Number': [int(input('Phone number:'))], 'Location': [input('Location:')], 'E-mail': [input('E-mail:')]}

In [3]:
Frame = DataFrame(personal_info)
Frame

   Last Name First Name  Phone Number Location                    E-mail
0  Bolomope   Faoziyyah    9059329620      Oyo  bisolabolomope@gmail.com

In [4]:
Frame.to_csv('Bisola_personal_information.csv', encoding='utf-8')

In [5]:
pd.read_csv('Bisola_personal_information.csv')

,Unnamed: 0,Last Name,First Name,Phone Number,Location,E-mail
0,0,Bolomope,Faoziyyah,9059329620,Oyo,bisolabolomope@gmail.com