In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [1]:
# Range of inputs
a = input("Please fill in the appropriates below:\nDegree: ");b = input("Program: ");c = input("School: ");d = input("Year of admission: ")
e = input("Year of graduation: ");f = input('Other degrees: ')

education = {'Degree ': a, 'Program ':b, 'School ': c,'Year of Admission ':d, 'Year of graduation ':e, 'Other degrees': f}

Please fill in the appropriates below:
Degree: B. Eng.
Program: Mechanical Engineering
School: KWASU
Year of admission: 2017
Year of graduation: 2022
Other degrees: None

In [4]:
newdata = DataFrame(education,[1])
newdata

,Degree,Program,School,Year of Admission,Year of graduation,Other degrees
1,B. Eng.,Mechanical Engineering,KWASU,2017,2022,None

In [5]:
newdata.to_csv('Bisola_work_experience.csv', encoding='utf-8')

In [6]:
pd.read_csv('Bisola_work_experience.csv')

,Unnamed: 0,Degree,Program,School,Year of Admission,Year of graduation,Other degrees
0,1,B. Eng.,Mechanical Engineering,KWASU,2017,2022,None