In [1]:

import pandas as pd

from pandas import Series, DataFrame

In [2]:
s = {'Skills':list((input('Enter skills: \n')).split(','))}

Enter skills:
Python, HTML, CSS, C, Javascript, Java

In [3]:
Data = DataFrame(s)

In [5]:
Data.to_csv('Feranmi_new_skills.csv', encoding='utf-8')
pd.read_csv('Feranmi_new_skills.csv')

   Unnamed: 0       Skills
0           0       Python
1           1         HTML
2           2          CSS
3           3            C
4           4   Javascript
5           5         Java