In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s = {'Skills':list((input('Enter skills: \n')).split(','))}

Enter skills:
Python, Machine learning, MATLAB, Microsoft Word, Microsoft Excel

In [3]:
Data = DataFrame(s)

In [4]:
Data.to_csv('Samuel_new_skills.csv', encoding='utf-8')
pd.read_csv('Samuel_new_skills.csv')

   Unnamed: 0             Skills
0           0             Python
1           1   Machine learning
2           2             MATLAB
3           3     Microsoft Word
4           4    Microsoft Excel